<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script rel="stylesheet" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
<hr>
<footer><a href="{{ url('product_index') }}">Products</a>{% if is_granted('ROLE_ADMIN') %} | <a href="{{ url('order_index') }}">Orders</a>{% endif %}{% if app.user %} | <a href="{{ url('basket_index') }}">Basket</a> | <a href="{{ path('app_logout') }}">Logout</a>{% else %} | <a href="{{ url('app_register') }}">Register</a> {% endif %}</footer>
</body>
</html>
