{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            {% if app.user and not is_granted('ROLE_ADMIN') %}
                <th>Quantity</th>
            {% endif %}
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr data-id="{{ product.id }}">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td class="line--price">{{ product.price }}</td>
                {% if app.user and not is_granted('ROLE_ADMIN') %}
                    <td><input min="0" type="number" name="quantity" onchange="calculateAmount(this)" value="0"></td>
                {% endif %}
                {% if app.user and not is_granted('ROLE_ADMIN') %}
                    <td class="line--amount">0.00</td>
                {% endif %}
                <td>
                    {% if is_granted('ROLE_ADMIN') %}<a
                        href="{{ path('product_show', {'id': product.id}) }}">show</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}<a
                        href="{{ path('product_edit', {'id': product.id}) }}">edit</a>{% endif %}
                    {% if app.user and not is_granted('ROLE_ADMIN') %}<a href="#"
                                                                         onclick="addBasket(this)">add to basket</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('product_new') }}">Create new</a>{% endif %}

    <script>
      const addBasket = (e) => {
        let row = $(e).closest('TR');
        let quantity = row.find('input[name=quantity]').val();

        if (0 === quantity) {
          return;
        }

        $.post('/basket/add/' + row.attr('data-id'), {'quantity': row.find('input[name=quantity]').val()}).done(() => {
          row.find('input[name=quantity]').val(0).change();
        });
      };

      const calculateAmount = (e) => {
        let row = $(e).closest('TR');
        let quantity = $(e).val();
        let price = row.find('.line--price').text() * 100 / 100;

        row.find('.line--amount').text((quantity * price).toFixed(2).toString());
      };
    </script>
{% endblock %}
