{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Amount</th>
            <th>OrderDate</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.amount }}</td>
                    <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
