{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order #{{ order.id }} - {{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</h1>
    <p>Address : {{ order.address }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <td>Quantity</td>
            <td>Amount</td>
        </tr>
        </thead>
        <tbody>
        {% for orderItem in order.orderItems %}
            <tr>
                <td>{{ orderItem.name }}</td>
                <td>{{ orderItem.price }}</td>
                <td>{{ orderItem.quantity }}</td>
                <td>{{ orderItem.quantity * orderItem.price | number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">back to list</a> | <a href="{{ path('order_approve', {'id': order.id}) }}">approve</a> | <a href="{{ path('order_cancel', {'id': order.id}) }}">cancel</a>
{% endblock %}
