{% extends 'base.html.twig' %}

{% block title %}Basket index{% endblock %}

{% block body %}
    <h1>Basket index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>AddedDateTime</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.id }}</td>
                <td>{{ basket.name }}</td>
                <td>{{ basket.price }}</td>
                <td><input min="0" class="form-control" onchange="updateBasket(this)" name="quantity" data-id="{{ basket.id }}" type="number"
                           value="{{ basket.quantity }}"></td>
                <td class="line--amount">{{ basket.amount }}</td>
                <td>{{ basket.addedDateTime ? basket.addedDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{ include('basket/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if baskets|length > 0 %}
        <p>Enter an address to complete the order</p>
        <label for="address">Address:</label><textarea class="form-control" id="address" required></textarea>
        <br>
        <button onclick="completeOrder()">Finish Order</button>
        <br>
        <br>
    {% endif %}
    <script>
      const updateBasket = (e) => {
        $.post('/basket/' + $(e).attr('data-id') + '/update', {
          'quantity': $(e).val(),
        }).done((res) => {
          $(e).closest('TR').find('.line--amount').text(res.amount);

          if (0 == $(e).val()) {
            $(e).closest('TR').remove();
          }
        });
      };

      const completeOrder = () => {
        $.post("{{ url('order_complete') }}", {
          "address": $('#address').val()
        }).done(()=>{
          window.location.href = '{{ url('product_index') }}';
        })
      }
    </script>
{% endblock %}
