{% extends 'base.html.twig' %}

{% block title %}Basket{% endblock %}

{% block body %}
    <h1>Basket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ basket.id }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ basket.userId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ basket.name }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ basket.quantity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ basket.price }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ basket.amount }}</td>
            </tr>
            <tr>
                <th>AddedDateTime</th>
                <td>{{ basket.addedDateTime ? basket.addedDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('basket_index') }}">back to list</a>

    <a href="{{ path('basket_edit', {'id': basket.id}) }}">edit</a>

    {{ include('basket/_delete_form.html.twig') }}
{% endblock %}
